<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>My Team</title>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="./style.css" />
		<script src="https://kit.fontawesome.com/c502137733.js"></script>
	</head>

	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 jumbotron mb-3 team-heading">
					<h1
						class="text-center"
						style="background-color: red; font-size: 75px"
					>
						My Team
					</h1>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="team-area col-12 d-flex justify-content-center">
					<div class="card employee-card">
						<div class="card-header">
							<h2 class="card-title">Geoff Nix</h2>
							<h3 class="card-title">
								<i class="fas fa-mug-hot mr-2"></i>Manager
							</h3>
						</div>
						<div class="card-body">
							<ul class="list-group">
								<li class="list-group-item">ID: 142</li>
								<li class="list-group-item">
									Email:
									<a href="mailto:manager@email.com"
										>manager@email.com</a
									>
								</li>
								<li class="list-group-item">
									Office number: 347-727-1945
								</li>
							</ul>
						</div>
					</div>
					<div class="card employee-card">
						<div class="card-header">
							<h2 class="card-title">Gail Kingsly</h2>
							<h3 class="card-title">
								<i class="fas fa-glasses mr-2"></i>Engineer
							</h3>
						</div>
						<div class="card-body">
							<ul class="list-group">
								<li class="list-group-item">ID: 786</li>
								<li class="list-group-item">
									Email:
									<a href="mailto:gail@engineer.com"
										>gail@engineer.com</a
									>
								</li>
								<li class="list-group-item">
									GitHub:
									<a
										href="https://github.com/ggailK"
										target="_blank"
										rel="noopener noreferrer"
										>ggailK</a
									>
								</li>
							</ul>
						</div>
					</div>
					<div class="card employee-card">
						<div class="card-header">
							<h2 class="card-title">Theresa Mills</h2>
							<h3 class="card-title">
								<i class="fas fa-glasses mr-2"></i>Engineer
							</h3>
						</div>
						<div class="card-body">
							<ul class="list-group">
								<li class="list-group-item">ID: 673</li>
								<li class="list-group-item">
									Email:
									<a href="mailto:tw@eng.com">tw@eng.com</a>
								</li>
								<li class="list-group-item">
									GitHub:
									<a
										href="https://github.com/tMills"
										target="_blank"
										rel="noopener noreferrer"
										>tMills</a
									>
								</li>
							</ul>
						</div>
					</div>
					<div class="card employee-card">
						<div class="card-header">
							<h2 class="card-title">Mike Johnson</h2>
							<h3 class="card-title">
								<i class="fas fa-user-graduate mr-2"></i>Intern
							</h3>
						</div>
						<div class="card-body">
							<ul class="list-group">
								<li class="list-group-item">ID: 112</li>
								<li class="list-group-item">
									Email:
									<a href="mailto:Mike@edu.com"
										>Mike@edu.com</a
									>
								</li>
								<li class="list-group-item">School: Ga Tech</li>
							</ul>
						</div>
					</div>
					<div class="card employee-card">
						<div class="card-header">
							<h2 class="card-title">Hank</h2>
							<h3 class="card-title">
								<i class="fas fa-user-graduate mr-2"></i>Intern
							</h3>
						</div>
						<div class="card-body">
							<ul class="list-group">
								<li class="list-group-item">ID: 786</li>
								<li class="list-group-item">
									Email:
									<a href="mailto:hank@gmail.com"
										>hank@gmail.com</a
									>
								</li>
								<li class="list-group-item">
									School: Ga. State
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
